body
{
  background-color: #393E46;
    text-align:center;
}
.first-heading
{
  color:#90ee90;
font-family: 'Lobster', cursive;
  position: absolute;
  font-size:8em;
  left:30%;
  margin: 15px auto 15px auto;
}
.the-first-player
{
position: absolute;
left:35%;
color: #4ECCA3;
font-family: 'Indie Flower', cursive;
font-size:20px;
top:40%;
margin: 30px auto 30px auto;
}
.the-second-player
{
position: absolute;
left:55%;
color: #4ECCA3;
font-family: 'Indie Flower', cursive;
font-size:20px;
top:40%;
margin: 30px auto 30px auto;
}
.im1
{
  position: absolute;
  left:30%;
  top:50%;

}
.im2
{
  position: absolute;
  left:50%;
  top:50%;

}
